html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.black-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
    z-index: 1000; 
    padding:300px;
}

.white-bg {
    width:100%;
    height: 50%;
    margin: 0 auto; 
    transition: all 1s;
}


.black-bg.show-modal {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100%;
    margin-bottom: 100px;


}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map_d9f33983abee03c2142be3a22d5283fc {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}

.close {
    display: inline-block;
    text-align: right;
}
.close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 30pt;
}